table
{
    border-collapse: collapse;
}
 /* La propriété border-collapse détermine si les bordures d'un tableau sont séparées
 ou fusionnées. Quand elles sont séparées, chaque cellule du tableau a ses propres
 bordures, distinctes. Quand elles sont fusionnées, les bordures des cellules sont
 partagées. Mettre une bordure sur les td ET les th */
th, td{
  border: 1px solid black;
  padding: 10px;
}
}
